 
            
body, html, #root {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.baseScreen {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.baseLayer {
    display: flex;
    contain: paint;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    height: 100px;
    min-height: 100px;
    width: 300px;
    min-width: 300px;
}

.baseText {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 18px;
    color: #000000;
    height: fit-content;
    width: fit-content;
}

.baseImageView {
    object-fit: contain;
    height: 90px;
    min-height: 90px;
    width: 115px;
    min-width: 115px;
}

.baseIcon {
    font-family: "Material Icons";
    color: #000000;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
}:root {
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--logomarginSize: 5vw;
	--headerVisibility2: none;
	--headerVisibility1: flex;

}

@media (max-width: 480px) {:root{
	--headerVisibility: none;
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--logomarginSize: 5vw;
	--headerVisibility2: flex;

}  
}
@media (min-width: 481px) {:root{
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--headerVisibility: flex;
	--logomarginSize: 5vw;
	--headerVisibility2: none;

}  
}
@media (max-aspect-ratio: 1/1) and (min-width: 481px) {:root{
	--headerVisibility: flex;
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--logomarginSize: 5vw;
	--headerVisibility2: none;

}  
}
