 
            
body, html, #root {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.baseScreen {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.baseLayer {
    display: flex;
    contain: paint;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    height: 100px;
    min-height: 100px;
    width: 300px;
    min-width: 300px;
}

.baseText {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 18px;
    color: #000000;
    height: fit-content;
    width: fit-content;
}

.baseImageView {
    object-fit: contain;
    height: 90px;
    min-height: 90px;
    width: 115px;
    min-width: 115px;
}

.baseIcon {
    font-family: "Material Icons";
    color: #000000;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
}:root {
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--logomarginSize: 5vw;
	--headerVisibility2: none;
	--headerVisibility1: flex;
	--bodyPaddingSizeV: 5vh;
	--bodyButtonsMarginSizeH: 1vw;
	--buttonPaddingSizeH: 10px;
	--buttonPaddingSizeV: 2px;
	--buttonRadiousSize: 100px;
	--bodyOrientation: row;
	--titleSize: 36px;
	--footerTextSize: 18px;
	--bodyimageSizeH: 65vw;
	--bodyimageSizeV: 35vh;
	--BodyFontSize: 18px;
	--BodyTextMarginSizeV: 2vh;
	--bodySectionSize: 75vh;

}

.layer-25-6557e7e167164577a4119b49e0c0ee26-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-36-7a9ce26049564bcb8db0d1dc23e722c1-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-35-b2173c153ca04827861ce111c5920602-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
@media (max-width: 480px) {:root{
	--headerVisibility: none;
	--headerVisibility2: flex;
	--bodyOrientation: column;
	--titleSize: 24px;
	--footerTextSize: 12px;
	--bodyimageSize: 80vw;
	--headerVisibility1: none;
	--bodyimageSizeH: 65vw;
	--bodyimageSizeV: 35vh;
	--BodyFontSize: 18px;
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--logomarginSize: 5vw;
	--bodyPaddingSizeV: 5vh;
	--bodyButtonsMarginSizeH: 1vw;
	--buttonPaddingSizeH: 15px;
	--buttonPaddingSizeV: 3px;
	--buttonRadiousSize: 100px;
	--BodyTextMarginSizeV: 2vh;

} 
.layer-25-6557e7e167164577a4119b49e0c0ee26-orientation{
align-items: var(--horizontalAxis);
justify-content: var(--verticalAxis);
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-36-7a9ce26049564bcb8db0d1dc23e722c1-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-35-b2173c153ca04827861ce111c5920602-orientation{
align-items: var(--horizontalAxis);
justify-content: var(--verticalAxis);
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
} 
}
@media (min-width: 481px) {:root{
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--headerVisibility: flex;
	--logomarginSize: 5vw;
	--headerVisibility2: none;
	--bodyPaddingSizeV: 5vh;
	--bodyButtonsMarginSizeH: 1vw;
	--buttonPaddingSizeH: 10px;
	--buttonPaddingSizeV: 2px;
	--buttonRadiousSize: 100px;
	--bodyOrientation: row;
	--titleSize: 36px;
	--footerTextSize: 18px;
	--bodyimageSizeH: 65vw;
	--bodyimageSizeV: 35vh;
	--BodyFontSize: 18px;
	--BodyTextMarginSizeV: 2vh;

} 
.layer-25-6557e7e167164577a4119b49e0c0ee26-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-36-7a9ce26049564bcb8db0d1dc23e722c1-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-35-b2173c153ca04827861ce111c5920602-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
} 
}
@media (max-aspect-ratio: 1/1) and (min-width: 481px) {:root{
	--headerVisibility: flex;
	--bodyOrientation: row;
	--headerVisibility1: flex;
	--whiteColor: #FFFFFF;
	--blueColor: #2CA4FF;
	--greyColor: #F2F2F2;
	--lateralMarginSize: 5vw;
	--logoSizeV: 55px;
	--logoSizeH: 191px;
	--headerFontSize: 22px;
	--Whatsapp: 4vw;
	--headerTextmarginSize: 1vw;
	--logomarginSize: 5vw;
	--bodyPaddingSizeV: 5vh;
	--bodyButtonsMarginSizeH: 1vw;
	--buttonPaddingSizeH: 10px;
	--buttonPaddingSizeV: 2px;
	--buttonRadiousSize: 100px;
	--titleSize: 36px;
	--footerTextSize: 18px;
	--bodyimageSize: 35vw;
	--headerVisibility2: none;

} 
.layer-25-6557e7e167164577a4119b49e0c0ee26-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-24-c8b28da7f7da4ab8863168f2a030270c-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-36-7a9ce26049564bcb8db0d1dc23e722c1-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-35-b2173c153ca04827861ce111c5920602-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-37-ab83e74565f94de086650ec34dfc491e-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-34-ee1984a2fff44b1ca4d16b6dd4bda7b6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
} 
}
