 
            
body, html, #root {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.baseScreen {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.baseLayer {
    display: flex;
    contain: paint;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    height: 100px;
    min-height: 100px;
    width: 300px;
    min-width: 300px;
}

.baseText {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
    font-size: 18px;
    color: #000000;
    height: fit-content;
    width: fit-content;
}

.baseImageView {
    object-fit: contain;
    height: 90px;
    min-height: 90px;
    width: 115px;
    min-width: 115px;
}

.baseIcon {
    font-family: "Material Icons";
    color: #000000;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
}:root {
	--primaryColor: #2CA4FF;
	--secondaryColor: #FFFFFF;
	--backgroundColor: #F2F2F2;
	--headerVisibility1: none;
	--headerVisibility2: flex;
	--LogoSize: 15vw;
	--textMarginH: 3vw;
	--hPaddingHeader: 5vw;
	--fontSize2: 28px;
	--fontSize1: 22px;
	--bodyOrientation: row;
	--bodyImageSize: 500px;
	--textMarginV: 3vh;

}

.layer-17-2c1fa109ec71499897792b032a379ef2-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-23-95d7f455021a4de1842f5b830b5f9c6e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-24-e7e2909ced7b42fba518b70e2f78feeb-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-19-b35a7f935a4e4bc8b9cfc72f4624a606-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-22-cbe4411783ca404693b7d7de72978d33-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
@media (max-width: 480px) {:root{
	--headerVisibility1: flex;
	--headerVisibility2: none;
	--hPaddingHeafer: 5vw;
	--LogoSize: 35vw;
	--fontsize1: 22px;
	--textMarginH: 5vw;
	--bodyOrientation: column;
	--bodyImageSize: 250px;
	--fontSize1: 14px;
	--primaryColor: #2CA4FF;
	--secondaryColor: #FFFFFF;
	--backgroundColor: #F2F2F2;
	--hPaddingHeader: 5vw;
	--fontSize2: 28px;

} 
.layer-17-2c1fa109ec71499897792b032a379ef2-orientation{
align-items: var(--horizontalAxis);
justify-content: var(--verticalAxis);
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-23-95d7f455021a4de1842f5b830b5f9c6e-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-24-e7e2909ced7b42fba518b70e2f78feeb-orientation{
align-items: var(--horizontalAxis);
justify-content: var(--verticalAxis);
}
.layer-19-b35a7f935a4e4bc8b9cfc72f4624a606-orientation{
align-items: var(--horizontalAxis);
justify-content: var(--verticalAxis);
}
.layer-22-cbe4411783ca404693b7d7de72978d33-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
} 
}
@media (min-width: 481px) {:root{
	--primaryColor: #2CA4FF;
	--secondaryColor: #FFFFFF;
	--backgroundColor: #F2F2F2;
	--headerVisibility1: none;
	--headerVisibility2: flex;
	--hPaddingHeafer: 5vw;
	--LogoSize: 15vw;
	--hPaddingHeader: 5vw;
	--fontsize1: 22px;
	--textMarginH: 3vw;
	--fontSize1: 22px;
	--fontSize2: 28px;
	--bodyOrientation: row;
	--bodyImageSize: 500px;

} 
.layer-17-2c1fa109ec71499897792b032a379ef2-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-23-95d7f455021a4de1842f5b830b5f9c6e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-24-e7e2909ced7b42fba518b70e2f78feeb-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-19-b35a7f935a4e4bc8b9cfc72f4624a606-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-22-cbe4411783ca404693b7d7de72978d33-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
} 
}
@media (max-aspect-ratio: 1/1) and (min-width: 481px) {:root{
	--headerVisibility1: none;
	--headerVisibility2: flex;
	--bodyOrientation: row;
	--primaryColor: #2CA4FF;
	--secondaryColor: #FFFFFF;
	--backgroundColor: #F2F2F2;
	--hPaddingHeader: 5vw;
	--LogoSize: 15vw;
	--fontSize1: 22px;
	--textMarginH: 3vw;
	--fontSize2: 28px;
	--bodyImageSize: 500px;

} 
.layer-17-2c1fa109ec71499897792b032a379ef2-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
}
.layer-23-95d7f455021a4de1842f5b830b5f9c6e-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.layer-24-e7e2909ced7b42fba518b70e2f78feeb-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-19-b35a7f935a4e4bc8b9cfc72f4624a606-orientation{
align-items: var(--verticalAxis);
justify-content: var(--horizontalAxis);
}
.layer-22-cbe4411783ca404693b7d7de72978d33-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
flex-grow: 1; align-self: unset;
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6-parentOrientationVariable{
align-self: stretch; flex-grow: 0;
} 
}
