.Ayuda{
    
background-color: #FFFFFF !important;
}
.base-ayuda-762de92433ce42d6b1a1f1923b2c7131{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.header-87318423c5bb493b9aaaf472380965f8{
    flex-direction: row !important;
justify-content: space-between !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background-color: #FFFFFF !important;
height: 100px !important;min-height: 100px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
position: sticky !important;
 top: 0 !important;
z-index: 1 !important;
}
.layer-12-df27723e13984232ac01cfd20c2f64c7{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
width: fit-content !important;min-width:  unset !important;
}
.imageview-1-68e535147fda411cadd189977f573297{
    width: var(--LogoSize) !important; 
min-width: var(--LogoSize) !important; 
height: var(--LogoSize) !important; 
min-height: var(--LogoSize) !important; 
}
.layer-13-4cf3be5a078f4398b41f8a4c7b4c9deb{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
width: fit-content !important;min-width:  unset !important;
}
.icon-1-66d026095a554fa49dfabbbc7d6ee677{
    
height: fit-content !important;
width: fit-content !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;display: var(--HeaderVisibility1) !important; 
}
.layer-14-9cce69fd1d1b42b2bcb485c558fda034{
    flex-direction: row !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;display: var(--HeaderVisibility2) !important; 
}
.layer-15-36cd3bb913124bada2f6d1d5037da3fe{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-3-6c88a132680c448fb8bb344f43d40be0{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontMedium) !important; 
}
.layer-16-55f39b87465446df917a034b9a1c04dc{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-2-e19639166f944e5fb674291bf5e2b68e{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--BlackColor) !important; 
background: var(--BlackColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontMedium) !important; 
}
.layer-17-a0da9053b1324138ae043ecbf127487d{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-4-25b1173fa70b4b9da757cbb260827bf8{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--BlackColor) !important; 
background: var(--BlackColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontMedium) !important; 
}
.layer-100-0e684442501249839c0ffec6e1597a08{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-28-6579c3c9e39c4dd58209454e3b7c01ac{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontBold) !important; 
}
