.Blog{
    
background-color: #FFFFFF !important;
}
.layer-153-bd1a4cc7182041d4af526a80f98832b7{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.header-c52749d738af4cb2aeb1f3958a36dd14{
    flex-direction: row !important;
justify-content: space-between !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background-color: #FFFFFF !important;
height: 100px !important;min-height: 100px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
position: sticky !important;
 top: 0 !important;
z-index: 1 !important;
}
.layer-12-d5f835997d214f4bae09156b1edd9f56{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
width: fit-content !important;min-width:  unset !important;
}
.imageview-1-048ea018f16847af940f6b0816fd6d56{
    width: var(--LogoSize) !important; 
min-width: var(--LogoSize) !important; 
height: var(--LogoSize) !important; 
min-height: var(--LogoSize) !important; 
}
.layer-13-b8f8f405ed314cc7acb1a778a80600d0{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
width: fit-content !important;min-width:  unset !important;
}
.icon-1-87c698c880d741dca21bc27cea73f07b{
    
height: fit-content !important;
width: fit-content !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;display: var(--HeaderVisibility1) !important; 
}
.layer-14-3773c8c51c184cfa98c5c41969ceccd8{
    flex-direction: row !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;display: var(--HeaderVisibility2) !important; 
}
.layer-15-200fdb66052a4e2c9004a7d94e09a35e{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-3-0573d9edfe3c4a0e8603881bd1f43605{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontMedium) !important; 
}
.layer-16-933e445af05040e791d59ee54393480d{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-2-4c1320068e294fadab680cbcd4c7fccc{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--BlackColor) !important; 
background: var(--BlackColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontMedium) !important; 
}
.layer-17-8b22875b5b214f9cb60aa9e2c8f98c82{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-4-47613fba94b4455e89cd58392a7ada32{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--BlackColor) !important; 
background: var(--BlackColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontMedium) !important; 
}
.layer-100-b755eb1e058e4867af04d216160a258d{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
align-self: stretch !important;height: unset !important;min-height: unset !important;
flex: 1 1 50% !important;width: unset !important;min-width: unset !important;
}
.text-28-a909e7dcca674e7e9dfd7b4a82042715{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontBold) !important; 
}
