.MobileMenu{
    
background-color: #FFFFFF !important;
}
.base-mobile-menu-c69eec554b4d4c3e91120a398bf56b35{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-60-d99eb9c9afff4e3b8ea7d4cd5ce27dc4{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: 100px !important;min-height: 100px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.imageview-4-515aac13bec541f6955fe3ad2c725ed0{
    width: var(--LogoSize) !important; 
min-width: var(--LogoSize) !important; 
height: var(--LogoSize) !important; 
min-height: var(--LogoSize) !important; 
}
.layer-61-f8da2bbd564141b48cdb37b126bd0d2b{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-63-89039e5df4d64ca488fe81ea360f8ade{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-66-35173fd9421d489da0c91ae24c4d9bdd{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-13-8e1e1d508b014c88b7dee3401675b556{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontBold) !important; 
}
.layer-67-bf70c6f14917439da8f3551fe4882ce5{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-14-03373d765aa448e5b41b48eda479630d{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-68-289a18c82a934b97b66ecb418e49c578{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-15-bc454a2aa9924d9d8c0eb1d4c042c8d1{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-69-89ff11365dfd4159a9262d8eb9935866{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-16-bcbbe22e8b8344e6b3eb8cee9765648e{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-64-de10a62c52e94ac683618d5bc59c8bf5{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-70-a2c6a361eeb54068a96a30d2992503a4{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-17-728ca2b58d1f4b06b0511bf967b11085{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontBold) !important; 
}
.layer-71-ec5a1a7a47e542e7b94239f56662818f{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-18-3f93c00ee8a445baa110962d556ef1d1{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-72-e9be9569430b4ff2a19db27055d034e1{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-19-8e7542b86dcb4cad8153b50415e68f36{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-65-965df683220c4a62b6af1c517ed2abdf{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-73-da226e6254f7407dafe46571aace67aa{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-20-3de560678fcc408a8cdbb8b052a41914{
     

font-weight: normal !important;

height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;color: var(--PrimaryColor) !important; 
background: var(--PrimaryColor) !important; 

-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent !important;font-family: var(--FontBold) !important; 
}
.layer-74-6f6ea11cac3b49968cf5433edc4ade38{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-21-28c6fc2be6b642c5935ea1334576d8ef{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-75-9c06ada85de64973b11daf56cc625566{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-22-684c682c91424a65a8858b9d11799c35{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-76-58c7445dbb2f4feaa0827402ca2fd7c9{
    
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
flex: 1 1 50% !important;height: unset !important;min-height: unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-23-f533f0485e35415f9d9a6c03ac13ab72{
     

font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
width: fit-content !important;min-width:  unset !important;font-family: var(--FontMedium) !important; 
}
.layer-62-0eb3eb668d954311b29fa5dba123749e{
    

box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: 100px !important;min-height: 100px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
