.Screen1{
    
overflow-y: scroll;
}
.layer-1-96e4a5730a5b457b824e3800c312e8f6{
    flex-direction: row;
justify-content: space-between;

background-color: #FFFFFF;
height: 10vh;min-height: 10vh;
align-self: stretch;width: unset;min-width: unset;
position: sticky;
 top: 0;
z-index: 1;
    padding-left: var(--hPaddingHeader); 
padding-right: var(--hPaddingHeader); 
}
.imageview-1-8d5b38d7d7d74e998021c26dd63d2f13{
    

    width: var(--LogoSize); 
min-width: var(--LogoSize); 
}
.layer-11-6a45aa2d09fa4c1b9a108039a3de291d{
    
justify-content: center;

align-self: stretch;height: unset;min-height: unset;
width: fit-content;min-width:  unset;
    display: var(--headerVisibility1); 
}
.icon-1-284f98aebdc14460af8c4f5a9375af26{
    


    color: var(--primaryColor); 
}
.layer-12-6aac6873b51949548767061942da8826{
    flex-direction: row;
justify-content: flex-end;
align-items: center;

align-self: stretch;height: unset;min-height: unset;
flex-grow: 1;width: 0px;min-width: unset;
    display: var(--headerVisibility2); 
}
.layer-13-12bb6bd7dc1e44ccaa944fd3603fa0c4{
    flex-direction: row;

height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    margin-right: var(--textMarginH); 
}
.text-1-63ce9099a7cf44b590a6cbfc8681edf2{
     





    background: var(--primaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.icon-2-9dc6b0df012945bd815d40db6ee6fb6c{
    

    color: var(--primaryColor); 
width: var(--fontSize1); 
min-width: var(--fontSize1); 
}
.layer-14-e4553c3d741f4d5cb5f4e0eb1e11c30d{
    

height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    margin-right: var(--textMarginH); 
}
.text-2-bb30fa1f529d430f90d3d0c650ca7a88{
     





    background: var(--primaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.layer-15-97b9b0aaead64f4d93dccdef045fdd70{
    
border-radius: 2.0140515222482422vh;
box-shadow: 0px 0px 0px var(--secondaryColor);
padding-top: 1px;
padding-bottom: 1px;
padding-left: 1px;
padding-right: 1px;
box-sizing: border-box;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    background: var(--primaryColor); 
box-shadow: 0px 0px 0px var(--secondaryColor); 
}
.layer-16-2da04cf4cc334deebfad194b47e70ea1{
    
border-radius: 1.8969555035128858vh;
padding-top: 1px;
padding-bottom: 5px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
background-color: #FFFFFF;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    
}
.text-3-5407f813455f49a7b6792d28f183ed25{
     





    background: var(--primaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.layer-2-600b814016e54bdd83f3cd7d801c8f7f{
    
justify-content: center;
align-items: center;

height: 5vh;min-height: 5vh;
align-self: stretch;width: unset;min-width: unset;
    background: var(--primaryColor); 
}
.text-4-843f85cea52344459e43e1a090c1166e{
     text-align: center;




align-self: stretch;width: unset;min-width: unset;
    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize2); 
}
.layer-3-85e1f25e97c94a97a59d15bb01665b97{
    
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-image: url('/assets/DSC08088F.png');
height: 85vh;min-height: 85vh;
align-self: stretch;width: unset;min-width: unset;
    
}
.layer-4-f86039515c4644dc804066d70d2c0a80{
    

height: 180vh;min-height: 180vh;
align-self: stretch;width: unset;min-width: unset;
    background: var(--backgroundColor); 
}
.layer-5-8e54315d72f541bd90cca1c37e74cb18{
    

padding-left: 5vw;
padding-right: 5vw;
box-sizing: border-box;background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-image: url('/assets/vector.png');
flex-grow: 1;height: unset;min-height: unset;
align-self: stretch;width: unset;min-width: unset;
    
}
.layer-6-1d32468d517a4f5980e968ed25fbe280{
    

height: 90vh;min-height: 90vh;
align-self: stretch;width: unset;min-width: unset;
    
}
.layer-16-87050a0e2687491dbb6a90e23d0293bd{
    
justify-content: center;
align-items: center;

height: 5vh;min-height: 5vh;
align-self: stretch;width: unset;min-width: unset;
    
}
.text-15-efd9dc5824504bb9afa47a5de466efd1{
     

font-weight: bold;



    font-size: var(--fontSize2); 
}
.layer-17-2c1fa109ec71499897792b032a379ef2{
    
--verticalAxis: center;
--horizontalAxis: center;


align-self: stretch;width: unset;min-width: unset;
    flex-direction: var(--bodyOrientation); 
}
.imageview-3-5255e8b2bc1c46dbb4889d2a8d7f5094{
    
    width: var(--bodyImageSize); 
min-width: var(--bodyImageSize); 
height: var(--bodyImageSize); 
min-height: var(--bodyImageSize); 
}
.layer-23-95d7f455021a4de1842f5b830b5f9c6e{
    
justify-content: center;
align-items: center;

height: fit-content;min-height:  unset;

    
}
.layer-31-cf9999f2f257423abfd5813d8115a80d{
    

height: fit-content;min-height:  unset;
align-self: stretch;width: unset;min-width: unset;
    margin-bottom: var(--textMarginV); 
}
.text-7-f33efae962db4c36b31c153be6d0fef2{
     




align-self: stretch;width: unset;min-width: unset;
    font-size: var(--fontSize1); 
}
.layer-24-e7e2909ced7b42fba518b70e2f78feeb{
    
--verticalAxis: center;
--horizontalAxis: center;

height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    flex-direction: var(--bodyOrientation); 
}
.layer-25-ce4342a5d3024548ab13bf12c46789ad{
    
border-radius: 1.6042154566744784vh;
padding-bottom: 1px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    background: var(--primaryColor); 
margin-right: var(--textMarginH); 
margin-bottom: var(--textMarginV); 
}
.text-8-dd61466533964c9e9daa020028a34d89{
     





    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.layer-26-c5c568e18ca74d53a1cba6f69d05af09{
    
border-radius: 1.6042154566744518vh;
padding-bottom: 1px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    background: var(--primaryColor); 
margin-right: var(--textMarginH); 
margin-bottom: var(--textMarginV); 
}
.text-9-174ba64f713541d9b4e87c9510aff2d5{
     





    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.layer-27-809dca598825467cbb543d41bc4e0f17{
    
border-radius: 1.6042154566744518vh;
padding-bottom: 1px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    background: var(--primaryColor); 
}
.text-10-3ed2a1f4c686455693c7d3b77274cb82{
     





    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.layer-7-d63e2d19601f4c1bb03bcd814dd7d70f{
    

height: 90vh;min-height: 90vh;
align-self: stretch;width: unset;min-width: unset;
    
}
.layer-18-229bbcc7fb36493f84df12654c657d30{
    
justify-content: center;
align-items: center;

height: 5vh;min-height: 5vh;
align-self: stretch;width: unset;min-width: unset;
    
}
.text-14-5aae451b6d624a9893d41a4d81db0162{
     

font-weight: bold;



    font-size: var(--fontSize2); 
}
.layer-19-b35a7f935a4e4bc8b9cfc72f4624a606{
    
--verticalAxis: center;
--horizontalAxis: center;

flex-grow: 1;height: unset;min-height: unset;
align-self: stretch;width: unset;min-width: unset;
    flex-direction: var(--bodyOrientation); 
}
.layer-22-cbe4411783ca404693b7d7de72978d33{
    

height: fit-content;min-height:  unset;

    
}
.text-11-abc650a0e667432a985cc21bc68aac62{
     




align-self: stretch;width: unset;min-width: unset;
    font-size: var(--fontSize1); 
}
.layer-28-f9b67a66faf54cb795a7b4a074d90da2{
    flex-direction: row;

height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    
}
.layer-29-defc2387dceb49a99082e9951c9a9f61{
    
border-radius: 1.2550425818018962vh;
padding-bottom: 1px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    background: var(--primaryColor); 
margin-right: var(--textMarginH); 
}
.text-12-204d5bef2e7342c39421bd62e56b13c7{
     





    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.layer-30-446b5bd27c04403b92062252620da012{
    
border-radius: 1.2550425818018962vh;
padding-bottom: 1px;
padding-left: 15px;
padding-right: 15px;
box-sizing: border-box;
height: fit-content;min-height:  unset;
width: fit-content;min-width:  unset;
    background: var(--primaryColor); 
}
.text-13-b980331ea4c34844b424f3c2a1ef2d18{
     





    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize1); 
}
.imageview-4-2ee6f8525ed54cd4a67c8771fd44a8e6{
    
    width: var(--bodyImageSize); 
min-width: var(--bodyImageSize); 
height: var(--bodyImageSize); 
min-height: var(--bodyImageSize); 
}
.layer-8-9ea8c1c82dba4c00898f713cd7c842ed{
    
justify-content: space-between;
align-items: center;

height: 90vh;min-height: 90vh;
align-self: stretch;width: unset;min-width: unset;
    background: var(--primaryColor); 
}
.layer-20-c26cdb50d581452b9407c8fd7f4d61f5{
    
align-items: center;


align-self: stretch;width: unset;min-width: unset;
    
}
.text-5-c99ce90f043b4768ba466b4b09fe1492{
     text-align: center;

font-weight: bold;



    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize2); 
}
.imageview-2-8ac2deb55e0d4830a72bb87218fae584{
    
height: 500px;min-height: 500px;
width: 500px;min-width: 500px;
    
}
.layer-21-5d5f42eb87b64e478b6ad7a6912fd673{
    
align-items: center;


align-self: stretch;width: unset;min-width: unset;
    
}
.text-6-62be0eebd5084fa39773c18f668c9da3{
     

font-weight: bold;



    background: var(--secondaryColor); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: var(--fontSize2); 
}
.layer-9-02d94374e52d468da0c3c3b5fcc287c3{
    

height: 10vh;min-height: 10vh;
align-self: stretch;width: unset;min-width: unset;
    
}
